.event {
  border-left: 1px solid var(--event-border);
  margin-left: 16px;
  padding-top: 1px;
  padding-left: 20px;
  margin-bottom: 0;
  padding-bottom: 5px;
  list-style-type: none;
}

.firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateAndCaption {
  display: flex;
  align-items: flex-end;
}

.bol {
  border-radius: 10%;
  border: 1px solid var(--date-badge-border);
  padding: 0.8px 3px;

  margin-left: -48px;
  margin-right: 0.5rem;

  background: var(--light-blue);
  float: left;
  text-align: center;
  line-height: 1rem;
  font: 700 0.9rem 'JetBrains Mono', sans-serif;
  color: var(--background);
}

.caption {
  font-size: 1.1rem;
}

.timeago {
  float: right;
  display: block;
  font-size: 0.8rem !important;
  color: var(--timeago) !important;
  margin-left: 5px;
}

.clear {
  clear: both;
}

.badges {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.4rem;
  flex-wrap: wrap;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--event-border);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.chipbadge {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid var(--event-border);
  background-color: var(--background);
  /* font-size: 1rem; */
  font: 700 1rem 'JetBrains Mono', sans-serif;
}

@media (prefers-color-scheme: dark) {
  .cardItemContainer:nth-child(odd) span {
    color: var(--background-card);
  }
}

@media (max-width: 768px) {
  .bol {
    font-size: 1rem;
  }

  .caption {
    font-size: 1.2rem;
  }

  .timeago {
    font-size: 0.9rem !important;
  }
}
