li.event {
  border-left: 1px solid var(--event-border);
  margin-left: 16px;
  padding-top: 1px;
  padding-left: 20px;
  margin-bottom: 0;
  padding-bottom: 5px;
  list-style-type: none;
}

li div.bol {
  border-radius: 10%;
  border: 1px solid var(--date-badge-border);
  padding: 0.8px 3px;

  margin-left: -48px;
  margin-right: 0.5rem;

  background: var(--light-blue);
  float: left;
  text-align: center;
  line-height: 1rem;
  letter-spacing: -0.5px;
  font: 400 0.8rem 'JetBrains Mono', sans-serif;
  color: var(--background);
}

li div.txt {
  border-bottom: 1px solid var(--text-border-bottom);
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.timeago {
  float: right;
  display: block;
  font-size: 0.7rem !important;
  color: var(--timeago) !important;
  margin-left: 5px;
}

.clear {
  clear: both;
}

.badges {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.4rem;
  flex-wrap: wrap;
}

.chipbadge {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid var(--dark-gray);
  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  .cardItemContainer:nth-child(odd) span {
    color: var(--background-card);
  }
}
