.cardDetailModalContainer {
  padding: 1rem 1rem 1.2rem;
}

.cardDetailModalContainer main header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.cardDetailModalContainer main header section span {
  font-size: 1rem;

  font-weight: 400;
  color: var(--dark-gray);
}

.cardDetailModalContainer main span {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--dark-gray);

  margin-right: 10px;
}

.cardDetailModalContainer main section {
  margin-bottom: 10px;
}

.modalTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-gray);
  margin-right: 10px;
}

.detailIcon {
  font-size: 2.8rem;
}

.closeButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font-size: 1.35rem;
}

.closeButton:focus-visible {
  outline: none;
}

.statCardContainer {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);

  gap: 8px;

  margin-top: 12px;
  margin-left: -0.2rem;
  margin-right: -0.2rem;
}

@media (max-width: 768px) {
  .cardDetailModalContainer main span {
    font-size: 1.6rem;
  }
}

@media (max-width: 470px) {
  .statCardContainer {
    gap: 5px;
  }
}

@media (max-width: 338px) {
  .statCardContainer {
    gap: 2px;
  }
}
