.cardContainer {
  /* width: 100%; */

  background-color: var(--background-card);
  border: 1px solid var(--border-card);
  border-radius: 4px;
  box-shadow: 0 0 60px var(--card-box-shadow);

  padding: 1rem 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  cursor: pointer;
}

.cardContainer:last-child {
  margin-bottom: 2rem;
}

.cardContainer header {
  font-size: 1.8rem;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background-card);
}

.cardNewItem {
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
}

.timeline {
  list-style: none;
  border-radius: 4px;
  padding: 4px;
  min-height: 50px;
  font-size: 14px;
}

.cardContainer main {
  background-color: var(--background-card);
}

.cardContainer main p {
  font-size: 1.4rem;

  background-color: var(--background-card);
}

.cardContainer main > :first-child {
  color: var(--light-gray);
}

.cardContainer div p {
  font-size: 0.8rem;
  color: var(--light-gray-notes);
}

.cardContainer div p:first-child {
  margin-top: 0.6rem;
}

.iconBike {
  color: var(--light-blue);
  background-color: var(--background-card);
}

.iconRun {
  color: var(--orange-strava);
  background-color: var(--background-card);
}
