.erroMsgContainer {
  width: 70%;

  border: 1px solid var(--orange-strava);
  border-radius: 16px;
  box-shadow: 0 0 60px var(--card-box-shadow);

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  align-self: center;
}

.headerContainer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  background-image: linear-gradient(
    90deg,
    var(--start-gradient-color),
    var(--end-gradient-color)
  );
  padding: 0.5rem 1.5rem;
}

.erroMsgContainer header {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--errorContainer);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.erroMsgContainer main p {
  font-size: 1.4rem;
  color: var(--light-gray-notes);

  padding: 0.8rem 1.5rem;
}
