.footerContainer {
  display: flex;

  align-items: center;
  justify-content: flex-end;

  padding: 0 4px 6px 4px;
}

.footerEquipmentTable {
  border-collapse: collapse;
  margin: auto;

  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
}

.footerEquipmentTable thead {
  background-color: var(--dark-gray);
  color: var(--table-head-text);
}

.footerEquipmentTable th {
  border: 1px solid var(--event-border);
  padding: 8px;
}

.footerEquipmentTable td {
  font-size: 0.9rem;
  border: 1px solid var(--event-border);
  padding: 4px;
}

@media (max-width: 420px) {
  .footerEquipmentTable {
    width: 100%;
    table-layout: fixed;
  }
}
