.headerContainer {
  display: flex;

  align-items: center;
  justify-content: flex-end;

  padding: 0 8px 16px 0;
  border-bottom: 1px solid var(--light-gray);
}

.signInButton {
  color: var(--white);
  background: var(--light-blue);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 400 1rem 'JetBrains Mono', sans-serif;
  padding: 0.5rem 1rem;

  transition: background ease-in 0.2s;
}

.signInButton:hover {
  background: var(--light-blue-hover);
}
