.headerContainer {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 0 4px 6px 4px;
  border-bottom: 1px solid var(--light-gray);
}

.headerContainer a {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 400 1rem 'JetBrains Mono', sans-serif;

  transition: background ease-in 0.2s;
}

.spinnerLoading {
  margin: 0 15px;
}

.athleteButton {
  display: flex;
  align-items: center;
}

.athleteButtonPadding {
  padding: 0;
}

.athleteInfo {
  display: flex;
  align-items: center;
}

.athleteName {
  font-size: 1rem;
  color: var(--athlete-name);
  font-weight: 600;

  padding: 0;

  cursor: pointer;
}

.athleteAvatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;

  margin-right: 6px;
}

.headerLoginIcon {
  color: var(--light-blue);
  margin-right: 0.2rem;
  height: 2rem;
  width: 2rem;
}

.headerLoginIcon:hover {
  color: var(--light-blue-hover);
}

.headerLogoutIcon {
  color: var(--gray-signOut);
  margin-right: 0.2rem;
  height: 2rem;
  width: 2rem;
}

.headerLogoutIcon:hover {
  color: var(--gray-signOut-hover);
}

.headerInfoIcon:hover {
  color: var(--light-blue);
}

.divider {
  width: 60%;
  background-color: var(--light-gray);
}
