.headerContainer {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 4px;
  border-bottom: 1px solid var(--light-gray);

  position: fixed;
  top: 0;
  width: 100%;
  max-width: 928px;
  z-index: 100;
  background-color: var(--background);
}

.headerContainer a {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 400 1rem 'JetBrains Mono', sans-serif;

  transition: background ease-in 0.2s;
}

.spinnerLoading {
  margin: 0 15px;
}

.sidebarIcon {
  color: var(--sidebar-icon);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.headerButtons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.sidebarButton {
  display: flex;
  align-items: center;
}

.headerLoginIcon {
  color: var(--light-blue);
  margin-right: 0.2rem;
  height: 2.5rem;
  width: 2.5rem;
}

.headerLoginIcon:hover {
  color: var(--light-blue-hover);
}

.headerLogoutIcon {
  color: var(--gray-signOut);
  margin-right: 0.2rem;
  height: 2.5rem;
  width: 2.5rem;
}

.headerLogoutIcon:hover {
  color: var(--gray-signOut-hover);
}

.headerInfoIcon:hover {
  color: var(--light-blue);
}

.divider {
  width: 60%;
  background-color: var(--light-gray);
}

@media (max-width: 860px) {
  .headerContainer {
    max-width: 88%;
  }

  .headerLoginIcon {
    height: 2.8rem;
    width: 2.8rem;
  }

  .sidebarIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
