.modalContainer {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  width: 100%;
  height: 100%;

  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalInfo {
  min-width: 50%;
  min-height: 30%;

  margin: 0 5px;

  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);

  padding: 1rem 0.5rem;
  background-color: var(--white);

  overflow-y: auto;
}

.modalInfo main header {
  margin-bottom: 20px;
}

.modalInfo main header section span {
  font-size: 1rem;

  font-weight: 400;
  color: var(--dark-gray);
}

.modalInfo main span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-gray);
  margin-right: 10px;
}

.modalInfo main section {
  margin-bottom: 10px;
}

.modalInfo main div {
  font: 400 0.6rem 'JetBrains Mono', sans-serif;

  display: flex;
  align-items: center;
}

.modalInfo main div:nth-child(even) {
  background-color: var(--light-gray);
}

.modalInfo div span:first-child {
  font: 400 0.7rem 'JetBrains Mono', sans-serif;
  color: var(--light-gray-notes);
  margin-left: 0.05rem;
  margin-right: 0.1rem;
}

.modalInfo div span:nth-child(2) {
  font: 700 0.9rem 'JetBrains Mono', sans-serif;
  margin-right: 0.2rem;
}

.modalInfo div span:nth-child(3) {
  font: 400 0.9rem 'JetBrains Mono', sans-serif;
}

.modalInfo div span:nth-child(4) {
  font: 400 0.9rem 'JetBrains Mono', sans-serif;
}
