.modalContainer {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  display: none;

  background-color: var(--card-box-shadow);
}

.modalContent {
  width: 100vw;
  height: 100vh;

  margin: auto;
  padding: 50px 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalInfo {
  min-width: 60%;
  min-height: 20%;

  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  box-shadow: 0 0 60px var(--card-box-shadow);

  padding: 1rem 1rem;
  background-color: var(--background);

  overflow-y: auto;
}

.modalInfo main header {
  margin-bottom: 10px;
}

.modalInfo main header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalInfo main header section span {
  font-size: 1rem;

  font-weight: 400;
  color: var(--dark-gray);
}

.modalInfo main span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-gray);

  margin-right: 10px;
}

.modalInfo main span span {
  margin-right: 0;
}

.modalInfo main section {
  margin-bottom: 10px;
}

.modalInfo main strong {
  font-size: 1.1rem;
  font-weight: 600;
}

.modalInfo main p {
  font-size: 1rem;
  color: var(--dark-gray);
}

.modalInfo main p span {
  font-size: 0.8rem;
  color: var(--light-gray-notes);
}
