.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}

.modalContent {
  background-color: var(--background-card);
  border: 1px solid var(--dark-gray);
  border-radius: 12px;

  width: 30vw;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 10px 30px var(--card-box-shadow);
  animation: slideIn 0.3s ease;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modalContent::-webkit-scrollbar {
  display: none;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--gray-notes);
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: var(--light-blue);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 85vw;
  }
}
