.modalContainer {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalInfo {
  min-width: 50%;
  min-height: 40%;

  margin: 0 10px;

  border: 1px solid var(--light-gray);
  border-radius: 4px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);

  padding: 1rem 2rem;
  background-color: var(--white);
}
