.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.homeText {
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter', 'JetBrains Mono', sans-serif;
}

.homeText h1 {
  font-size: 7.8rem;
  font-weight: 700;
  line-height: 8.8rem;
  letter-spacing: -0.3rem;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: linear-gradient(
    90deg,
    var(--start-gradient-color),
    var(--end-gradient-color)
  );
}

.homeText h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: -0.1rem;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: linear-gradient(
    90deg,
    var(--start-gradient-color),
    var(--end-gradient-color)
  );
}

.homeText span {
  margin-top: 0.5rem;
}

@media (max-width: 660px) {
  .homeText {
    height: 40vh;
  }

  .homeText h1 {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.2rem;
  }

  .homeText h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .homeText {
    height: 40vh;
  }

  .homeText h1 {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -0.2rem;
  }

  .homeText h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: 0rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .homeText {
    height: 40vh;
  }

  .homeText h1 {
    font-size: 4.5rem;
    line-height: 6rem;
    letter-spacing: -0.1rem;
  }

  .homeText h2 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: 0rem;
    text-align: center;
  }
}
