.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.homeText {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 40px 0 0 0;

  font: 800 7rem 'Inter', 'JetBrains Mono', sans-serif;
}

.homeText h1 {
  line-height: 9rem;
  letter-spacing: -0.6rem;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: linear-gradient(
    90deg,
    var(--start-gradient-color),
    var(--end-gradient-color)
  );
}
