* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
}

:root {
  --background: #fff;
  --background-card: #fff;
  --light-blue: #1eb1fc;
  --light-blue-hover: #1b9fe2;
  --gray-signOut: #ccc;
  --gray-signOut-hover: #555;
  --light-gray: #ddd;
  --light-gray-lines: #ccc;
  --light-gray-notes: #999;
  --gray-notes: #444;
  --dark-gray: #333;

  --border-card: var(--light-gray);

  --athlete-name: var(--gray-notes);
  --text-button: #fff;

  --orange-strava: #fc5200;
  --start-gradient-color: #ff4d4d;
  --end-gradient-color: #f9cb28;

  --card-box-shadow: rgba(0, 0, 0, 0.4);
  --errorContainer: whitesmoke;

  --stat-icon: #8257e5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --background: #000;
    --border-card: #30363d;
    --background-card: #0d1117;
    --dark-gray: var(--light-gray);
    --gray-notes: #bbb;
    --light-gray-lines: #ddd;

    --gray-signOut: #333;
    --gray-signOut-hover: #222;

    --athlete-name: #fff;

    --card-box-shadow: rgba(29, 28, 29, 0.4);
    --errorContainer: var(--background-card);
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 81.25%;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 78%;
  }
}

body {
  font: 400 1.6rem 'JetBrains Mono', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
